<div>
  <h2>Adicionar nova tarefa</h2>

  <form [formGroup]="formTask" (ngSubmit)="submitTask()">
    <div class="form-group">
      <label for="title">Titulo</label>
      <input type="text" name="title" id="title" formControlName="title"/>

      <div class="texto-invalido-red" *ngIf="formTask.get('title')?.hasError('required')">
        <p>Título inválido!</p>
      </div>
    </div>

    <div>
      <label for="description">Descrição</label>
      <input type="text" name="description" id="description" formControlName="description"/>

      <div class="texto-invalido-red" *ngIf="formTask.get('description')?.hasError('required')">
        <p>Descrição inválida!</p>
      </div>
    </div>

    <div>
      <label for="date">Data de vencimento</label>
      <input type="date" name="date" id="date" formControlName="date"/>

      <div class="texto-invalido-red" *ngIf="formTask.get('date')?.hasError('required')">
        <p>Data inválida!</p>
      </div>
    </div>

    <div>
      <label for="status">Status</label>
      <select name="status" id="status" formControlName="status">
        <option value="toDo">ToDo</option>
        <option value="trabalhando">Trabalhando</option>
        <option value="finalizado">Finalizado</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Adicionar Tarefas</button>
  </form>
</div>
